<form
  [formGroup]="formContainer"
  (submit)="handleSubmit($event)"
  fxFlex
  fxLayoutAlign="center center"
  fxLayoutGap='8px'>
   
  <mat-form-field
    fxFlex>
    <mat-chip-list #chipList>
			<mat-chip 
        *ngFor="let chip of selected" 
        [selectable]="chipSelectable" 
        [removable]="areChipsRemovable" 
        (remove)="removeChip(chip)">
				{{chip.label}}
				<mat-icon 
          matChipRemove 
          *ngIf="areChipsRemovable">
          cancel
        </mat-icon>
			</mat-chip>

      <!-- [value]="state.query" -->
      <input 
        role="textbox"
        type="text"
        formControlName="autocomplete" 
        [placeholder]="placeholder"        
        [matChipInputFor]="chipList" 
        [matAutocomplete]="auto"            
        [matChipInputAddOnBlur]="addChipOnBlur"
        matInput
        [value]="searchQuery"
        (input)="handleChange($event.target.value)"
        autocapitalize="off"
        autocorrect="off"
        spellcheck="false" 
        #chipInput/>
		</mat-chip-list>
		<mat-autocomplete 
      #auto="matAutocomplete"
      (optionSelected)="handleSelect($event)"
      [displayWith]="mapToName">
      <!-- (click)="handleSelect($event, item)" -->
      <mat-option 
        *ngFor="let item of items"  
        [value]="item">

        <img 
          *ngIf="item[imageUrlParam]"
          [src]="item[imageUrlParam]" 
          style="vertical-align:middle;" 
          aria-hidden 
          height="25"/>
        <span> {{ item.label }} </span>
      </mat-option>
          
    </mat-autocomplete>
    
  </mat-form-field>
</form>



<!-- 
<mat-form-field>
  <mat-select 
    [placeholder]="title" 
    multiple="true"
    (selectionChange)="refine($event)">
    <mat-option 
      *ngFor="let item of items" 
      [value]="item">
      {{ item.label | titlecase }}
    </mat-option>
  </mat-select>
</mat-form-field> 
-->

