
<form [formGroup]="formContainer">

  <mat-form-field>
    <input 
      matInput
      autocapitalize="off"
      autocorrect="off"
      spellcheck="false" 
      formControlName="autocomplete"
      [placeholder]="placeholder"
      [matAutocomplete]="auto"
      [value]="state.query"
      (input)="handleChange($event.target.value)"
      (focus)="focus.emit($event)"
      (blur)="blur.emit($event)">
      
    <mat-autocomplete #auto="matAutocomplete">
      <tft-results>    
        <ng-template let-hits="hits">
          <mat-option 
            *ngFor="let hit of hits" 
            (click)="handleSelect($event, hit)"
            [value]="hit.name">
            <img 
            *ngIf="hit[imageUrlParam]"
            [src]="hit[imageUrlParam]" 
            style="vertical-align:middle;" 
            aria-hidden 
            height="25"/>
            <span> {{ hit.name }} </span>
          </mat-option>
          
        </ng-template>
      </tft-results>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-raised-button
    color="primary"
    type="submit"
    (click)="handleSubmit($event)">
    <mat-icon>
      add
    </mat-icon>
    {{ selectTitle }}
  </button>

  <button 
    *ngIf="displayClearButton"
    mat-raised-button
    color="accent"
    title="{{clearTitle}}"
    type="button"
    (click)="handleClear($event)">
    <mat-icon>
      close
    </mat-icon>
    {{ clearTitle }}
  </button>

</form>
