<!--The content below is only a placeholder and can be replaced.-->
<h1>Sandbox for building tft-library</h1>

<tft-instantsearch [config]="searchConfig">

  <tft-auto-complete (submit)="logItem($event)"></tft-auto-complete>

  <tft-search-box>
  </tft-search-box>

  <tft-refinement-list [attributeName]="filterCategory" [title]="filterPlaceholder">
  </tft-refinement-list>
  <!-- <tft-sort-by [indices]="sortIndices">
    
  </tft-sort-by> -->
  <tft-pagination [maxPages]="3">
  </tft-pagination>
  <tft-results [transformItems]="logItem">
  </tft-results>

</tft-instantsearch>


