<tft-instantsearch 
  [config]="searchConfig">

  <tft-search-box>
  </tft-search-box>
  
  <tft-results>
  </tft-results>
  <!-- <tft-refinement-list 
    [attributeName]="filterCategory" 
    [title]="'Search Title'">
  </tft-refinement-list>

  <tft-filter-list 
    [attributeName]="filterCategory" 
    [title]="'Search Title'">
  </tft-filter-list> -->
</tft-instantsearch>

<mat-card>
  <pre *ngIf="!!item; else directUser">
    {{
      item | json
    }}
  </pre>
  <ng-template #directUser>
    <mat-card-title>
      Select item to activate (submit) event in autocomplete component
    </mat-card-title>
  </ng-template>
</mat-card>
