<tft-instantsearch 
  [config]="searchConfig">
  <tft-autocomplete
    (select)="handleItemSelected($event)"
    (submit)="handleItemSubmitted($event)">

  </tft-autocomplete>
  <!-- <tft-search-box>
  </tft-search-box>

  <tft-results>
  </tft-results> -->

</tft-instantsearch>

<mat-card>
  <pre *ngIf="!!item; else directUser">
    {{
      item | json
    }}
  </pre>
  <ng-template #directUser>
    <mat-card-title>
      Select item to activate (submit) event in autocomplete component
    </mat-card-title>
  </ng-template>
</mat-card>
