@import '~@angular/material/theming';
@include mat-core();

// Skeleton of theme
$app-primary: mat-palette($mat-green);
$app-accent:  mat-palette($mat-green, A200, A100, A400);
$app-warn:    mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

// Skeleton of alternate theme
// TODO: Name alternate theme appropriately
.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent:  mat-palette($mat-yellow, 400);

  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);

  @include angular-material-theme($alternate-theme);
}